.principal{
  font-family: 'Itim', cursive;
font-family: 'Share Tech', sans-serif;
  background-image:url(../../img/tec.jpg);
  background-repeat: no-repeat;
  text-align:center ;
  padding:10%;
  font-size: 2rem;
  color:white;
  
               
           
          }